# this file must be named bonesync.conf,
# and reside in the same directory as bonesync.sh
# bonesync.sh runs as root and sources this file.
# please secure it accordingly

# Mandatory:
#MYTAG=hdf-eu
#REMOTES=/opt/bonesync/remotes.txt
#MYCHROOT=/opt/nethack/chroot

# Optoinal:
#DEBUG=1 
# file containing PRIVATE key trusted by server.
#MYSSHKEY=/opt/bonesync/bonesync_rsa
